{{ block "card" .}}
<div
  class="border bg-gray-700 dark:bg-gray-700 rounded-lg shadow hover:bg-gray-500"
>
  <a
    href="{{ .URL }}"
    class="hover:bg-gray-700"
    hx-get="{{ .URL }}"
    hx-push-url="true"
    hx-swap="outerHTML"
    hx-target="#content"
  >
    <img class="rounded-t-lg" src="{{ .Image }}" alt="The tykling" />
    <div class="p-5">
      <h2
        class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white line-clamp-2"
      >
        {{ .Title }}
      </h2>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3">
        {{ .Description }}
      </p>
    </div>
  </a>
</div>
{{ end }}
