{{ block "card" .}}
<a
  href="{{ .URL }}"
  class="group flex flex-col space-y-3 md:space-y-6"
  hx-get="{{ .URL }}"
  hx-push-url="true"
  hx-swap="outerHTML"
  hx-target="#content"
>
  <div
    class="object-contain aspect-video shadow-lg rounded-xl overflow-hidden flex items-center justify-center"
  >
    <img
      alt="Cover image for {{ .Title }}"
      loading="lazy"
      width="1080"
      height="720"
      decoding="async"
      class="w-full h-full hover:bg-white hover:opacity-45"
      src="{{ .Image }}"
      style="color: transparent"
    />
  </div>
  <div class="space-y-3">
    <h2
      class="text-2xl font-medium group-hover:text-turso-turquoise text-white hover:text-raspberry-400 text-center"
    >
      {{ .Title }}
    </h2>
  </div>
</a>
{{ end }}
