{{ block "card" .}}
<div
  class="border bg-ash_gray-200 dark:bg-ash_gray-200 rounded-lg shadow hover:bg-ash_gray-200 m-4"
>
  <a
    href="{{ .URL }}"
    class="hover:bg-ash_gray-200"
    hx-get="{{ .URL }}"
    hx-push-url="true"
    hx-swap="outerHTML"
    hx-target="#content"
  >
    <img class="rounded-t-lg" src="{{ .Image }}" alt="The tykling" />
    <div class="p-5">
      <h2
        class="mb-2 text-lg font-bold tracking-tight text-white dark:text-white line-clamp-2"
      >
        {{ .Title }}
      </h2>
      <p class="mb-3 font-normal text-white dark:text-white line-clamp-3">
        {{ .Description }}
      </p>
    </div>
  </a>
</div>
{{ end }}
