{{ block "head" .}}
<head>
  <title>{{ .Meta.Title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="The online home for Cabe Waldrop. Checkout my blog and favorite recipes"
  />
  {{ if .Meta.OpenGraph }}
  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="{{ .Meta.OpenGraph.Title }}" />
  <meta property="og:description" content="{{ .Meta.OpenGraph.Description }}" />
  <meta property="og:image" content="https://{{ .Meta.OpenGraph.Image }}" />
  {{ end }}
  <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/yaml.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
  />
  <link href="/static/output.css" rel="stylesheet" />
</head>
{{ end }}
