{{define "content" }}
<section
  id="content"
  class="grid grid-cols-1 sm:grid-cols-2 items-center mt-8 mx-4 sm:m-auto min-h-[85vh] bg-gradient-to-r from-ash_gray"
>
  <div class="col-span-1 order-2 sm:order-1 m-auto">
    <h2
      class="text-center text-2xl sm:text-3xl md:text-4xl lg:text-6xl xl:text-7xl font-extrabold lg:tracking-tight xl:tracking-tighter font-serif"
    >
      👋 Hi! I'm Cabe
    </h2>
    <p
      class="text-center text-lg md:text-xl lg:text-2xl py-4 px-4 text-slate-600 text-wrap mx-auto font-light"
    >
      I'm a Software Engineer located in the mountains of Colorado. I love to
      write code, eat good food, and run trails.
    </p>
  </div>
  <div class="col-span-1 order-1 sm:order-2 m-auto">
    <img
      src="/static/images/headshot.webp"
      alt="Headshot of Cabe Waldrop"
      class="rounded-md shadow-xl"
    />
  </div>
</section>
{{ end }}
