{{ block "index" . }}
<!doctype html>
<html lang="en">
  {{ template "head" .}}
  <body hx-boost="true">
    {{ template "navbar" .}}
    <div class="flex items-center my-2">
      <div class="mx-16">
        <h1
          class="text-center text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
        >
          👋 Hi! I'm Cabe
        </h1>
        <p class="text-center text-lg mx-4 mt-2 text-slate-600">
          I'm a Software Engineer located in the mountains of Colorado. I love
          to write code, eat good food, and run trails.
        </p>
      </div>
      <div class="w-2/3">
        <img
          src="/static/headshot.webp"
          alt="Headshot of Cabe Waldrop"
          class="w-full object-cover rounded-md shadow"
        />
      </div>
    </div>
    {{ template "footer" .}}
  </body>
</html>
{{ end }}
