{{ block "navbar" .}}
<nav>
  <div
    class="w-full flex flex-wrap items-center justify-between mx-auto p-4 bg-dark_blue"
  >
    <a href="/">
      <div class="flex flex-wrap">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 512"
          class="fill-aqua w-12 h-12"
        >
          <path
            d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"
          />
        </svg>
        <h1
          class="self-center text-3xl font-semibold whitespace-nowrap text-gray-50 hover:text-aqua pl-4 ml-4"
        >
          Cabe Waldrop
        </h1>
      </div>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden border border-gray-500 focus:outligesne-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
      onclick="var el = document.getElementById('navbar-default'); el.classList.toggle('hidden');"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:border-gray-700"
      >
        <li>
          <a
            href="/blog"
            hx-get="/blog"
            hx-target="#content"
            hx-push-url="true"
            hx-swap="outerHTML"
            class="block text-2xl py-2 px-3 text-gray-900 rounded-md dark:text-white md:dark:hover:text-aqua"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="/recipes"
            hx-get="/recipes"
            hx-target="#content"
            hx-push-url="true"
            hx-swap="outerHTML"
            class="block text-2xl py-2 px-3 text-gray-900 rounded-md dark:text-white md:dark:hover:text-aqua"
            >Recipes</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}
